.pytest_cache/
__pycache__/
build/
dist/
PyDynamic.egg-info/
.coverage
.coverage.*
pytest.xml
prep_test_DFT.py
.hypothesis
examples/Fourier_domain_deconv/AmplitudeData
examples/Fourier_domain_deconv/HydrophonCalibrationData
examples/Fourier_domain_deconv/MeasuredSignals/M-Mode 3 MHz
examples/Fourier_domain_deconv/MeasuredSignals/M-Mode 6 MHz
examples/Fourier_domain_deconv/MeasuredSignals/pD-Mode 3 MHz
examples/Fourier_domain_deconv/MeasuredSignals/pD-Mode 7 MHz
